<IfModule mod_rewrite.c>
    RewriteEngine On

    # Mengarahkan semua request ke folder public/
    # Ini diperlukan jika Anda menaruh semua folder Laravel di public_html
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
